@page
@model PlayByPlayModel
@using Risk.Shared
@{
    ViewData["Title"] = "Play By Play";
}

<h2>Game State: @Model.Status.GameState</h2>
<form method="post" asp-page-handler="SetActionToCache">
    <button type="submit" name="action" value="first">Go to First</button>
</form>
<form method="post" asp-page-handler="SetActionToCache">
    <button type="submit" name="action" value="previousMove">Go to Previous</button>
</form>
<form method="post" asp-page-handler="SetActionToCache">
    <button type="submit" name="action" value="nextMove">Go to Next</button>
</form>
<form method="post" asp-page-handler="SetActionToCache">
    <button type="submit" name="action" value="last">Go to Last</button>
</form>


@if (Model.Status.GameState == Risk.Shared.GameState.GameOver)
{
    {
        string winner = null;
        int winningScore = 0;

        foreach (var player in Model.Status.PlayerStats.OrderByDescending(p => p.Score))
        {
            if (winner == null)
            {
                winner = player.Name;
                winningScore = player.Score;
            }
            if (player.Score > winningScore)
            {
                winner = player.Name;
                winningScore = player.Score;
            }
        }
        <h1>The winner is @winner</h1>
    }
}

<h3>Players:</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Armies</th>
            <th>Territories</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Status.PlayerStats.OrderByDescending(p => p.Score))
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Armies</td>
                <td>@player.Territories</td>
                <td>@player.Score</td>
            </tr>
        }
    </tbody>
</table>

<table border="1px" cellpadding="10px">
    @for (int rows = 0; rows <= Model.NumRows; rows++)
    {
        <tr>
            @for (int cols = 0; cols <= Model.NumCols; cols++)
            {
                var tempLoc = new Location { Column = cols, Row = rows };
                var ter = Model.Status.Board.First(t => t.Location == tempLoc);
                <td>
                    <div>@ter.Location</div>
                    <div>@ter.OwnerName</div>
                    <div>@ter.Armies</div>
                </td>
            }
        </tr>
    }
</table>
